#index-logo {
  margin-top: 70px;
  top: 165px;
  left: 153px;
  width: 69px;
  height: 74px;
  opacity: 1;
}

.joinup-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  color: var(--unnamed-color-61727f);
}

.joinup-header__title {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 100;
}

.joinup-header__text {
  width: 50%;
  font-size: 29px;
}

#joinup-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#joinup-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  border-bottom: 1px solid var(--unnamed-color-979fa9);
  margin-bottom: 25px;
  transition: border-color 0.3s ease-in-out;
}

#joinup-form input:not([type="submit"]) {
  border-bottom: 1px solid var(--unnamed-color-979fa9);
  transition: border-color 0.3s ease-in-out;
}

#joinup-form input::placeholder {
  color: var(--unnamed-color-979fa9);
}

#joinup-form input:focus {
  border-color: var(--unnamed-color-00A99D);
}

#joinup-form input[type="submit"] {
  background-color: var(--unnamed-color-576eac);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
  color: var(--unnamed-color-ffffff);
}

#join_checkbox {
  margin-top: 20px;
}
