:root {
  /* Colors: */
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-707070: #707070;
  --unnamed-color-61727f: #61727f;
  --unnamed-color-576eac: #576eac;
  --unnamed-color-979fa9: #979fa9;
  --unnamed-color-d1dae4: #d1dae4;
  --unnamed-color-c0d1e5: #c0d1e5;
  --unnamed-color-00A99D: #00a99d;
}
